@import "../../scss/main_settings.scss";

.header {
    @extend %transparent_background, %fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;
    transition: 0.6s ease-in-out;
    .header_container {
        width: 75%;
        margin: auto;
        height: 100%;
        @extend %flex_nowrap, %flex_vert_center;
        justify-content: space-between;
        .icon_container {
            @extend %flex_nowrap, %flex_middle;
            gap: 30px;
            .menu_icon_container {
                width: 30px;
                height: 26px;
                cursor: pointer;
                @extend %flex_wrap, %flex_vert_center;
                .menu_icon {
                    height: 2px;
                    @extend %dark_background;
                    transition: 0.6s ease-in-out;
                }
                .menu_icon:nth-child(1) {
                    width: 30px;
                }
                .menu_icon:nth-child(2) {
                    width: 25px;
                }
                .menu_icon:nth-child(3) {
                    width: 20px;
                }
                &:hover {
                    .menu_icon {
                        @extend %gray_background;
                    }
                    // .menu_icon:nth-child(1) {}
                    .menu_icon:nth-child(2) {
                        width: 30px;
                    }
                    .menu_icon:nth-child(3) {
                        width: 30px;
                    }
                }
            }
            .icon {
                @extend %main_text;
                font-family: "Fontello";
                font-size: 24px;
                cursor: pointer;
                position: relative;
            }
            .search_icon::before {
                content: '\e808';
            }
            .favorite_icon::before {
                content: '\e806';
            }
            .cart_icon::before {
                content: '\e807';
            }
        }
        .logo_container {
            a {
                font-family: "Oswald";
                letter-spacing: 3px;
                @extend %main_text;
                // @extend %light_color, %text_border_1;
                font-size: 26px;
            }
        }
    }
}

.header.sticky {
    background-color: $white;
}

// header end

// menu

.menu {
    min-height: 95%;
    width: 240px;
    @extend %fixed, %light_background;
    z-index: 1001;
    padding: 1.5%;
    top: 0;
    left: -100%;
    transition: 0.6s ease-in-out;
    .menu_cross_wrapper {
        @extend %flex_nowrap, %flex_vert_center, %relative;
        justify-content: flex-end;
        width: 100%;
        height: 70px;
        .menu_cross {
            @extend %cursor_pointer;
            font-family: "Fontello";
            &::before {
                content: '\e805';
            }
        }
    }
    .menu_elem_cont {
        ul {
            width: 100%;
            li {
                @extend %flex_nowrap, %flex_vert_center;
                justify-content: space-between;
                width: 100%;
                .menu_elem {
                    @extend %menu_link;
                    padding: 15px 0;
                }
                .submenu_icn {
                    @extend %cursor_pointer;
                    font-family: "Fontello";
                    transition: 0.6s ease-in-out;
                    &::before {
                        content: '\e809';
                    }
                }
                .submenu_icn.active {
                    transform: rotate(90deg);
                    &::before {
                        content: '\e809';
                    }
                }
                .social_link {
                    @extend %main_text;
                    font-family: "Fontello";
                    font-size: 24px;
                    padding: 15px 0;
                    &:hover {
                        @extend %gray_text;
                    }
                    &::before {
                        content: '\e80a';
                    }
                }
            }
            .changeLang_container {
                @extend %flex_nowrap, %flex_middle, %overflow_hidden;
                border: 2px solid $black;
                border-radius: 10px;
                width: 50%;
                margin: auto;
                .changeLangBtn {
                    @extend %main_text, %flex_nowrap, %flex_middle;
                    width: 50%;
                    height: 25px;
                    &:hover {
                        @extend %light_gray_background, %light_color;
                    }
                }
                .changeLangBtn.active {
                    @extend %gray_background, %light_color;
                }
                .left {
                    border-right: 1px solid $black;
                }
                .right {
                    border-left: 1px solid $black;
                }
            }
            .submenu {
                padding: 0;
                height: 0;
                overflow: hidden;
                transition: 0.6s ease-in-out;
                ul {
                    li {
                        margin: 10px 0;
                        .menu_elem {
                            font-size: 16px;
                            padding: 0;
                        }
                    }
                }
            }
            .submenu.active {
                height: 220px;
                padding: 10px;
            }
        }
    }
}

.menu.opened {
    left: 0;
}

.icon_indicator {
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: orange;
    bottom: 0;
    right: 0;
    transition: 0.6s ease-in-out;
}

.icon_indicator.active {
    opacity: 1;
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .header {
        background-color: $white;
        .header_container {
            width: 95%;
        }
    }

    .menu {
        width: calc(100% - 3%);
        min-height: 100%;
    }

    .icon_container {
        gap: 10px !important;
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        
    }
}