@import "../../scss/main_settings.scss";

.hidden {
    display: none;
}

.header {
    @extend %transparent_background, %fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    .header_container {
        width: 75%;
        margin: auto;
        height: 100%;
        @extend %flex_nowrap, %flex_vert_center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        .icon_container {
            @extend %flex_nowrap, %flex_middle;
            // gap: 30px;
            .menu_icon_container {
                width: 30px;
                height: 26px;
                cursor: pointer;
                @extend %flex_wrap, %flex_vert_center;
                margin-right: 15px;
                .menu_icon {
                    height: 2px;
                    @extend %dark_background;
                    -webkit-transition: 0.6s ease-in-out;
                    -o-transition: 0.6s ease-in-out;
                    transition: 0.6s ease-in-out;
                }
                .menu_icon:nth-child(1) {
                    width: 30px;
                }
                .menu_icon:nth-child(2) {
                    width: 25px;
                }
                .menu_icon:nth-child(3) {
                    width: 20px;
                }
                &:hover {
                    .menu_icon {
                        @extend %gray_background;
                    }
                    // .menu_icon:nth-child(1) {}
                    .menu_icon:nth-child(2) {
                        width: 30px;
                    }
                    .menu_icon:nth-child(3) {
                        width: 30px;
                    }
                }
            }
            .icon {
                @extend %main_text;
                font-family: "Fontello";
                font-size: 24px;
                cursor: pointer;
                position: relative;
                @media screen and (min-width:0px) and (max-width:1024px) {
                    margin: 0 10px;
                }
            }

            .search_icon, .cart_icon {
                margin-left: 15px;
            }

            .favorite_icon {
                margin-right: 15px;
            }

            .search_icon::before {
                content: '\e808';
            }

            .favorite_icon::before {
                content: '\e806';
            }
            .cart_icon::before {
                content: '\e807';
            }
        }
        .logo_container {
            a {
                font-family: "Oswald";
                letter-spacing: 3px;
                @extend %main_text;
                font-size: 26px;
            }
        }
    }
}

.header.sticky {
    background-color: $white;
}

// header end

// menu

.menu {
    min-height: 95%;
    width: 240px;
    @extend %fixed, %light_background;
    z-index: 1001;
    padding: 1.5%;
    top: 0;
    left: -100%;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
    @media screen and (min-width:0px) and (max-width:1024px) {
        padding: 3.5%;
    }
    .menu_cross_wrapper {
        @extend %flex_nowrap, %flex_vert_center, %relative;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 100%;
        height: 70px;
        .menu_cross {
            @extend %cursor_pointer;
            font-family: "Fontello";
            &::before {
                content: '\e805';
            }
        }
    }
    .menu_elem_cont {
        ul {
            width: 100%;
            li {
                @extend %flex_nowrap, %flex_vert_center;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                width: 100%;
                .menu_elem {
                    @extend %menu_link;
                    padding: 15px 0;
                }
                .submenu_icn {
                    @extend %cursor_pointer;
                    font-family: "Fontello";
                    -webkit-transition: 0.6s ease-in-out;
                    -o-transition: 0.6s ease-in-out;
                    transition: 0.6s ease-in-out;
                    &::before {
                        content: '\e809';
                    }
                }
                .submenu_icn.active {
                    -webkit-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                    &::before {
                        content: '\e809';
                    }
                }
                .social_link {
                    @extend %main_text;
                    font-family: "Fontello";
                    font-size: 24px;
                    padding: 15px 0;
                    &:hover {
                        @extend %gray_text;
                    }
                    &::before {
                        content: '\e80a';
                    }
                }
            }
            .changeLang_container {
                @extend %flex_nowrap, %flex_middle, %overflow_hidden;
                border: 2px solid $black;
                border-radius: 10px;
                width: 50%;
                margin: auto;
                .changeLangBtn {
                    @extend %main_text, %flex_nowrap, %flex_middle;
                    width: 50%;
                    height: 25px;
                    &:hover {
                        @extend %light_gray_background, %light_color;
                    }
                }
                .changeLangBtn.active {
                    @extend %gray_background, %light_color;
                }
                .left {
                    border-right: 1px solid $black;
                }
                .right {
                    border-left: 1px solid $black;
                }
            }
            .submenu {
                padding: 0;
                height: 0;
                overflow: hidden;
                -webkit-transition: 0.6s ease-in-out;
                -o-transition: 0.6s ease-in-out;
                transition: 0.6s ease-in-out;
                ul {
                    li {
                        margin: 10px 0;
                        .menu_elem {
                            font-size: 16px;
                            padding: 0;
                        }
                    }
                }
            }
            .submenu.active {
                height: 220px;
                padding: 10px;
            }
        }
    }
}

.menu.opened {
    left: 0;
}

.icon_indicator {
    opacity: 0;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: orange;
    bottom: 0;
    right: 0;
    -webkit-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.icon_indicator.active {
    opacity: 1;
}

.search_wrapper {
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.651);
    padding: 10px;
    position: fixed;
    top: -1000px;
    -webkit-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    .form {
        width: 80%;
        position: relative;
        margin: auto;     
        
        .input {
            width: calc(100% - 40px);
            height: 40px;
            border: 1px solid $light-color;
            background-color: transparent;
            padding: 0 20px;
            font-size: 20px;
            color: $white;
        }
        label {
            position: absolute;
            top: 50%;
            right: 10px;
            -webkit-transform: translate(-10px, -50%);
                -ms-transform: translate(-10px, -50%);
                    transform: translate(-10px, -50%);
            .submite {
                color: $white;
                font-family: "Fontello";
                font-size: 24px;
                cursor: pointer;
                position: relative;
                background-color: transparent;
                &::before {
                    content: '\e808';
                }
            }
        }
        .results_container {
            position: absolute;
            background-color: transparent;
            border: 1px solid;
            width: 100%;
            max-height: 0px;
            border-color: transparent;
            overflow: hidden;
            -webkit-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
            .results_list {
                width: calc(100% - 20px);
                position: relative;
                padding: 10px;
                .results_row {
                    width: 100%;
                    border-bottom: 1px solid $light-color;
                    .results_title {
                        font-size: 20px;
                        color: $lighter-gray;
                        padding: 10px 0;
                    }
                    li { 
                        font-size: 16px;
                        margin: 10px 0;
                        a {
                            @extend %main_text;
                        }
                        .results_product {
                            width: 100%;
                            @extend %flex_nowrap;
                            -webkit-box-align: center;
                                -ms-flex-align: center;
                                    align-items: center;
                            gap: 20px;
                            max-height: 110px;
                            overflow: hidden;
                            cursor: pointer;
                            .img {
                                width: 80px;
                                img {
                                    width: 100%;
                                }
                            }
                            .product_param {
                                @extend %flex_wrap;
                                font-size: 20px;
                                p {
                                    width: 100%;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
        .results_container.active {
            max-height: 2000px;
            border-color: $light-color;
            background-color: $white;
        }
    }
}

.close {
    @extend %cursor_pointer;
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: -5%;
    -webkit-transform: translate(-5%, -50%);
        -ms-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    font-family: "Fontello";
    color: $white;
    &::before {
        content: '\e805';
    }
}   

.search_wrapper.opened {
    top: 50px;
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .header {
        background-color: $white;
        .header_container {
            width: 95%;
        }
    }

    .menu {
        width: calc(100% - 7%);
        min-height: 100%;
    }

    .icon_container {
        gap: 10px !important;
    }

    .close {
        right: -10%;
        -webkit-transform: translate(-10%, -50%);
            -ms-transform: translate(-10%, -50%);
                transform: translate(-10%, -50%);
    }        

    @media screen and (min-width:768px) and (max-width:1024px) {
        
    }
}