@import "main_settings.scss";

.content_body {
    width: 100%;
}

.main_block {
    width: 100%;
    height: 80vh;
}

.absolute_link {
    @extend %link_dark, %absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    button {
        width: 200px;
        height: 40px;
        @extend %dark_background, %light_color;
        font-size: 100%;
        letter-spacing: 3px;
        &:hover {
            @extend %gray_background;
        }
    }
}

.content_block {
    width: 90%;
    margin: auto;
    padding: 80px 60px 0 60px;
    font-size: 24px;
}

.row {
    @extend %flex_wrap, %flex_row;
}

.column {
    @extend %flex_wrap, %flex_column;
}

.block_title {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 29px;
}

.desktop {
    @extend %desktop;
}

.mobile {
    @extend %mobile;
}

@media screen and (min-width:0px) and (max-width:1024px) {

    .content_block {
        padding: 40px 0 40px 0;
        width: 100%;
        font-size: 20px;
        overflow: hidden;
    }

    .main_block {
        height: max-content;
    }

    @media screen and (min-width:768px) and (max-width:1024px) {
        
    }
}