$black: #000000;
$gray: #1b1b1b;
$light-gray: #4b4b4b;
$lighter-gray: #6b6b6b;
$white: whitesmoke;
$milk: #f9f9f9;
$light-color: #cfcfcf;
$transparent: transparent;

%main_text {
    color: $black;
    font-family: 'Comfortaa';
}

%light_color {
    color: $white;
}

%gray_text {
    color: $gray;
}

%text_border_1 {
    text-shadow: 0px 1px 0 rgb(0 0 0), 
                0px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), 
                -1px 0px 0 rgb(0 0 0), 1px 1px 0 rgb(0 0 0), 
                1px -1px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 
                -1px -1px 0 rgb(0 0 0);
}

%dark_background {
    background-color: $black;
}

%gray_background {
    background-color: $gray;
}

%light_gray_background {
    background-color: $light-gray;
}

%transparent_background {
    background-color: transparent;
}

%light_background {
    background-color: $white;
}

%flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

%flex_nowrap {
    display: flex;
    flex-wrap: nowrap;
}

%flex_middle {
    justify-content: center;
    align-items: center;
}

%flex_vert_center {
    align-items: center;
}

%flex_hor_center {
    justify-content: center;
}

%flex_row {
    flex-direction: row;
}

%flex_column {
    flex-direction: column;
}

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

%overflow_hidden {
    overflow: hidden;
}

%cursor_pointer {
    cursor: pointer;
}

%link_dark {
    @extend %light_color;
}

%animaton_scale {
    animation-name: animation_scale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    @keyframes animation_scale {
        from { transform: scale(1.1) }
        to { transform: scale(1) }
    }
}

%menu_link {
    display: block;
    font-size: 1.1em;
    letter-spacing: 2px;
    @extend %main_text;
    &:hover{
        @extend %gray_text;
    }
}

%absolute_middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%black_button {
    background-color: $black;
    @extend %light_color;
    position: relative;
    overflow: hidden;
    &:hover {
        &::after {
            content:'';
            top:0;
            transform:translateX(100%);
            width:100%;
            height:40px;
            position: absolute;
            z-index:1;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(173, 173, 173, 0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
            animation: slide 1s;
            
        }   
    }
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}

%desktop {
    display: block;
    @media screen and (min-width:0px) and (max-width:1024px) {
        display: none;
    }
}

%mobile {
    display: none;
    @media screen and (min-width:0px) and (max-width:1024px) {
        display: block;
    }
}