@import "main_settings.scss";

@font-face {
    font-family: "Ð¡omfortaa";
    src: url("../public/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../public/fonts/Oswald/Oswald-SemiBold.ttf");
}

@font-face {
    font-family: "Oswald-light";
    src: url("../public/fonts/Oswald/Oswald-Light.ttf");
}

@font-face {
    font-family: "Raleway-Light";
    src: url("../public/fonts/Raleway/Raleway-Light.ttf");
}

*{
    font-family: "Raleway-Light";
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    @extend %main_text;
    background-color: $white;
}

button {
    border: none;
    cursor: pointer;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*:active {
    outline: none;
}

*:hover {
    outline: none;
}

*:focus {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style-type: none;
    position: relative;
}

ul {
    position: relative;
}