@import "main_settings.scss";

@font-face {
    font-family: "Сomfortaa";
    src: url("../public/fonts/Comfortaa/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Oswald";
    src: url("../public/fonts/Oswald/Oswald-SemiBold.ttf");
}

@font-face {
    font-family: "Oswald-light";
    src: url("../public/fonts/Oswald/Oswald-Light.ttf");
}

@font-face {
    font-family: "Raleway-Light";
    src: url("../public/fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: "Fontello";
    src: url('../public/fonts/Fontello/font/fontello.eot');
    src: 
        url('../public/fonts/Fontello/font/fontello.eot') format('embedded-opentype'),
        url('../public/fonts/Fontello/font/fontello.woff2') format('woff2'),
        url('../public/fonts/Fontello/font/fontello.woff') format('woff'),
        url('../public/fonts/Fontello/font/fontello.ttf') format('truetype'),
        url('../public/fonts/Fontello/font/fontello.svg') format('svg');
}

*{
    font-family: "Raleway-Light";
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    @extend %main_text;
    background-color: $white;
}

button {
    border: none;
    cursor: pointer;
}

*::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:active {
    outline: none;
}

*:hover {
    outline: none;
}

*:focus {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style-type: none;
    position: relative;
}

ul {
    position: relative;
}