$black: #000000;
$gray: #1b1b1b;
$light-gray: #4b4b4b;
$lighter-gray: #6b6b6b;
$white: whitesmoke;
$milk: #f9f9f9;
$light-color: #cfcfcf;

%main_text {
    color: $black;
    font-family: 'Comfortaa';
}

%light_color {
    color: $white;
}

%gray_text {
    color: $gray;
}

%text_border_1 {
    text-shadow: 0px 1px 0 rgb(0 0 0), 
                0px -1px 0 rgb(0 0 0), 1px 0px 0 rgb(0 0 0), 
                -1px 0px 0 rgb(0 0 0), 1px 1px 0 rgb(0 0 0), 
                1px -1px 0 rgb(0 0 0), -1px 1px 0 rgb(0 0 0), 
                -1px -1px 0 rgb(0 0 0);
}

%dark_background {
    background-color: $black;
}

%gray_background {
    background-color: $gray;
}

%light_gray_background {
    background-color: $light-gray;
}

%transparent_background {
    background-color: transparent;
}

%light_background {
    background-color: $white;
}

%flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

%flex_nowrap {
    display: flex;
    flex-wrap: nowrap;
}

%flex_middle {
    justify-content: center;
    align-items: center;
}

%flex_vert_center {
    align-items: center;
}

%flex_hor_center {
    justify-content: center;
}

%flex_row {
    flex-direction: row;
}

%flex_column {
    flex-direction: column;
}

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

%overflow_hidden {
    overflow: hidden;
}

%cursor_pointer {
    cursor: pointer;
}

%link_dark {
    @extend %light_color;
}

%animaton_scale {
    animation-name: animation_scale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;

    @keyframes animation_scale {
        from { transform: scale(1.1) }
        to { transform: scale(1) }
    }
}

%menu_link {
    display: block;
    font-size: 1.1em;
    letter-spacing: 2px;
    @extend %main_text;
    &:hover{
        @extend %gray_text
    }
}

%desktop {
    display: block;
    @media screen and (min-width:0px) and (max-width:1024px) {
        display: none;
    }
}

%mobile {
    display: none;
    @media screen and (min-width:0px) and (max-width:1024px) {
        display: block;
    }
}