@import "main_settings.scss";

@font-face {
    font-family: "Сomfortaa";
    src: url("../public/fonts/Comfortaa//Comfortaa-Regular.ttf");
}

*{
    font-family: "Oswald";
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    // @extend %light-background;
    @extend %main-text
}

button {
    border: none;
    cursor: pointer;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*:active {
    outline: none;
}

*:hover {
    outline: none;
}

*:focus {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style-type: none;
    position: relative;
}

ul {
    position: relative;
}