@import "/scss/main_settings.scss";

.form {
    width: 100%;
    form {
        width: calc(100% - 20px);
        padding: 10px;
        @extend %flex_wrap;
        // gap: 20px;
        .form_row {
            width: 100%;
            @extend %flex_nowrap, %flex_middle;
            // gap: 20px;
            label {
                font-size: 12px;
                font-weight: 100;
                letter-spacing: 3px;
                margin: 10px 0;
                .input {
                    width: calc(100% - 20px);
                    height: 20px;
                    border: 1px solid #cfcfcf;
                    color: black;
                    margin-top: 10px;
                    padding: 5px 10px;
                    font-size: 14px;
                    &:hover, &:focus {
                        border-color: $black;
                    }
                }
                textarea {
                    height: 300px !important;
                    resize: none;
                }
            }
            .name, .email {
                width: 50%;
            }
            .phone {
                width: 100%;
            }
            .comment {
                width: 100%;
            }
            .submit {
                width: 40%;
                @extend %black_button;
                height: 40px;
                font-size: 18px;
            }
        }
    }
}