@import "/scss/main_settings.scss";

.hidden {
    display: none;
}

.delete {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Fontello';
    cursor: pointer;
    &::before {
        content: '\e805';
    }
}

.product_card {
    width: 340px;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
    // @media screen and (min-width:1025px) and (max-width:1440px) {
    //     width: calc(25% - 20px);
    // }
    .outofstock {
        font-size: 20px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
        background: $white;
    }
    .content {
        width: 100%;
        @extend %main_text;
        .image {
            width: 100%;
            height: 500px;
            // @media screen and (min-width:1025px) and (max-width:1440px) {
            //     height: 350px;
            // }
            img {
                width: 110%;
            }
        }
        .data_wrapper {
            width: calc(100% - 20px);
            height: 60px;
            padding: 10px;
            text-align: center;
            .data {
                font-size: 16px;
                padding: 5px 0;
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:1536px) {

    @media screen and (min-width:0px) and (max-width:1024px) {
        .product_card {
            width: 150px;
            margin: 10px 0;
            .outofstock {
                font-size: 14px;
            }
            .content {
                .image {
                    height: 220px;
                    // img {}
                }
                .data_wrapper {
                    width: calc(100% - 20px);
                    height: 60px;
                    padding: 10px;
                    text-align: center;
                    .data {
                        font-size: 16px;
                        padding: 5px 0;
                    }
                }
            }
        }

        @media screen and (min-width:768px) and (max-width:1024px) {
            .product_card {
                width: 340px;
                .outofstock {
                    font-size: 20px;
                }
                .content {
                    width: 100%;
                    @extend %main_text;
                    .image {
                        width: 100%;
                        height: 500px;
                        img {
                            width: 110%;
                        }
                    }
                    .data_wrapper {
                        width: calc(100% - 20px);
                        height: 60px;
                        padding: 10px;
                        text-align: center;
                        .data {
                            font-size: 16px;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width:1025px) and (max-width:1536px) {
        .product_card {
            width: 200px;
            .content {
                .image {
                    height: 300px;
                }
            }
        }
    }
}

