@import "/scss/main_settings.scss";

.footer {
    width: 100%;
    height: 400px;
    background-color: $milk;
    border-top: 1px solid $light-color;
    @extend %relative;
    .logo_block {
        height: 400px;
        width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        .logo_wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: 100px;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -70%);
            }
        }
        .changeLang_wrapper {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%, -80%);
            p {
                font-size: 18px;
                text-align: center;
                color: $lighter-gray;
                padding-bottom: 20px
            }
            .changeLang_container {
                @extend %flex_nowrap, %flex_middle, %overflow_hidden;
                border: 2px solid $black;
                border-radius: 10px;
                width: 150px;
                margin: auto;
                .changeLangBtn {
                    @extend %main_text, %flex_nowrap, %flex_middle;
                    width: 50%;
                    height: 25px;
                    &:hover {
                        @extend %light_gray_background, %light_color;
                    }
                }
                .changeLangBtn.active {
                    @extend %gray_background, %light_color;
                }
                .left {
                    border-right: 1px solid $black;
                }
                .right {
                    border-left: 1px solid $black;
                }
            }

        }
    }
    .row {
        height: 80%;
        width: 50%;
        margin: auto;
        @extend %flex_nowrap, %flex_middle;
        .column {
            @extend %flex_nowrap, %flex_vert_center;
            justify-content: flex-start;
            height: calc(100% - 85px);
            width: 50%;
            padding: 70px 0 15px 0;
            ul {
                li {
                    padding: 10px 0;
                    .menu_elem {
                        @extend %main_text;
                    }
                }
            }
        }
    }
    .copyright_block {
        width: 100%;
        height: 20%;
        @extend %flex_nowrap, %flex_middle;
        .copyright_text {
            @extend %main_text;
            a {
                @extend %main_text;
            }
        }
    }
}

.desktop {
    @extend %desktop;
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .footer {
        height: max-content;
        justify-content: center;
        .logo_block {   
            position: relative;
            height: max-content;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 20px 0;
            .logo_wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                img {
                    position: relative;
                    top: auto;
                    left: auto;
                    transform: none;
                }
            }
            .changeLang_wrapper {
                position: relative;
                top: auto;
                left: auto;
                transform: none;
                p {
                }
                .changeLang_container {
                    .changeLangBtn {
                        &:hover {
                        }
                    }
                    .changeLangBtn.active {
                    }
                    .left {
                    }
                    .right {
                    }
                }
    
            }
        }
        .row {
            height: 80%;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            .column {
                width: 100%;
                padding-top: 30px;
                justify-content: center;
                text-align: center;
                border: 1px solid $light-color;
                ul {
                    li {
                        .menu_elem {
                        }
                    }
                }
            }
        }
        .copyright_block {
            .copyright_text {
                padding: 10px;
                text-align: center;
                a {
                }
            }
        }
    }
}