@import "../scss/main_settings.scss";

.first_block {
    @extend %flex_nowrap, %flex_middle, %relative, %overflow_hidden;
    background-color: #e7e7e7;
    height: 400px;
    img {
        width: 100%;
        height: max-content;
        @extend %animaton_scale;
    }
}

.shop_page {
    @extend %flex_nowrap;
    position: relative;
}

.menu_wrapper {
    width: -webkit-fill-available;
    .menu_container {
        @extend %flex_nowrap;
        position: sticky;
        top: 50px;
        ul {
            li {
                padding: 15px 0;
                border-bottom: 1px solid $light-color;
                transition: 0.6s ease-in-out;
                // .menu_elem {}
                .submenu_container {
                    ul {
                        li {
                            .submenu_icn {
                                font-size: 14px;
                            }
                            border-bottom: none;
                            padding: 5px 0 5px 5px;
                            // .menu_elem {}
                            .submenu_container {
                                ul {
                                    li {
                                        border-bottom: none;
                                        padding: 5px 0 5px 10px;
                                        // .menu_elem {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.submenu_container {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}

.submenu_container.opened {
    max-height: 1000px
}

.menu_elem {
    @extend %main_text;
    font-size: 20px;
}

.shop_wrapper {
    .row {
        @extend %flex_nowrap, %flex_vert_center;
        justify-content: flex-start;
        gap: 20px;
    }
}

.submenu_icn {
    @extend %cursor_pointer;
    font-family: "Fontello";
    font-size: 16px;
    margin-right: 10px;
    display: inline-flex;
    &::before {
        transition: 0.6s ease-in-out;
        content: '\e809';
    }
}

.submenu_icn.active {
    &::before {
        transform: rotate(90deg);
    }
}

.menu_elem {
    cursor: pointer;
    .size_elem {
        width: 20px;
        height: 20px;
        border: 1px solid $light-color;
        background-color: transparent;
        transition: 0.6s ease-in-out;
    }
}

.menu_elem.active {
    .size_elem {
        border: 1px solid $light-color;
        background-color: $light-color;
    }
}

.size {
    @extend %flex_nowrap, %flex_vert_center;
    justify-content: flex-start;
    gap: 20px;
}

.shop_header {
    padding: 15px;
    justify-content: flex-end !important;
}

.select_wrapper {
    @extend %relative;
    width: 250px;
}

.desktop {
    @extend %desktop;
}

.menu_cross_wrapper {
    @extend %flex_nowrap, %flex_vert_center, %relative;
    justify-content: flex-end;
    width: calc(100% - 40px);
    padding: 20px;
    display: none;
    .menu_cross {
        @extend %cursor_pointer;
        font-family: "Fontello";
        &::before {
            content: '\e805';
        }
    }
}

.mobile {
    @extend %mobile;
}

.shop_settings {
    cursor: pointer;
    .settings_icn {
        font-family: "Fontello";
        &::before {
            content: '\e80b';
        }
    }
}

.search_results {
    width: 100%;
    @extend %flex_wrap, %flex_middle;
    padding: 50px 0;
    gap: 20px;
    border-bottom: 1px solid $light-color;
    .search_title {
        width: 100%;
        text-align: center;
    }
    .search_form {
        width: 30%;
        position: relative;
        input {
            width: calc(100% - 2px - 60px - 20px);
            border: 1px solid $light-color;
            background-color: transparent;
            height: 38px;
            padding-left: 20px;
            padding-right: 60px;
            font-size: 20px
        }
        .search_button {
            @extend %black_button;
            height: 40px;
            width: 60px;
            position: absolute;
            top: 0;
            right: 0;
            .search_icn {
                color: $white;
                font-family: "Fontello";
                font-size: 24px;
                cursor: pointer;
                position: relative;
                background-color: transparent;
                &::before {
                    content: '\e808';
                }
            }
        }
    }
}

@media screen and (min-width:0px) and (max-width:1024px) {
    .menu_wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50px;
        left: -100%;
        z-index: 1;
        transition: 0.6s ease-in-out;
        background-color: $white;
        overflow: scroll;
        .menu_container {
            position: relative;
        }
    }
    .menu_wrapper.opened {
        left: 0;
    }

    .shop_wrapper {
        .row {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .shop_header {
        padding: 15px 10px;
        justify-content: space-between !important;
    }

    .select_wrapper {
        width: 40%;
    }

    .shop_page {
        position: relative;
    }

    .menu_cross_wrapper {
        display: flex;
    }   

    .search_results {
        .search_form {
            width: 100%;
            position: relative;
        }
    }
}