@import "../../scss/main_settings.scss"; 

.cookies {
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background-color: $white;
    border: 1px solid $light-color;
    transition: 0.6s ease-in-out;
}

.warning {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: $warning;
    border: 1px solid $warning;
}

.success {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: $success;
    border: 1px solid $success;
}

.sure {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: $white;
    border: 1px solid $light-color;
}

.closed {
    left: -200vw;
}

.wrapper {
    position: fixed;
    z-index: 1000;
    padding: 20px;
    text-align: center;
}

.content {
    position: relative;
    p {
        margin: 10px 0;
        font-size: 20px;
        padding: 10px;
        padding-bottom: 0;
        a {
            color: $black;
        }
    }
}

.ok_button {
    @extend %black_button;
    width: 100px;
    height: 40px;
    font-size: 20px;
}


.close {
    @extend %cursor_pointer;
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: 0;
    font-family: "Fontello";
    &::before {
        content: '\e805';
    }
}

.button_wrapper {
    width: 100%;
    @extend %flex_nowrap, %flex_middle;
    gap: 20px;
    .yes_button {
        width: 80px;
        height: 40px;
        font-size: 20px;
        border: 1px solid $light-color;
        background-color: $success;
    }
    .no_button {
        width: 80px;
        height: 40px;
        font-size: 20px;
        border: 1px solid $light-color;
        background-color: $warning;
    }
}

@media screen and (min-width:0px) and (max-width:1024px) {  
    .cookies {
        width: 100%;
        top: unset;
        right: unset;
        left: unset;
        bottom: unset;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }
}